.featured{
    padding-left: 30px;
    padding-top:30px;
    width: 100%;
    
}
.featuredhead{
    font-size:28px;
}
.sameline{
    width: 100%;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.featuredpara{
    margin-top: 0px;
    font-size:16px;
    color:rgba(0, 0, 0, 0.651);
}
.viewall{
    color:black;
}
.featuredlist{
    width: 100%;
    padding-top:30px;
    display: flex;
    gap:20px;
    overflow: hidden;
}

@media(max-width:600px){
    .featured{
        padding: 0px;
        width: 100%;
    }
    .featuredlist{
        flex-direction: column;
        align-items: center;
    }
    
}

