.featured{
    padding-left: 30px;
    padding-top:30px;
    width: 100%;
}
.featuredhead{
    font-size:28px;
}
.sameline{
    width: 100%;
    padding-right: 60px;
    display: flex;
    justify-content: space-between;
}
.featuredpara{
    font-size:16px;
    color:rgba(0, 0, 0, 0.651);
}
.viewall{
    color:black;
}
.featuredlist{
    width: 100%;
    padding-top:30px;
}

/* card styles */

.productcard{
    width:358px;
    height: 480px;
    border-radius: 25px;
}
.cardimage{
    width: 100%;
    height: 258px;
    border-radius: 25px 25px 0px 0px;
    overflow: hidden;
}
.cardimage img{
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
    margin:0px;   
    transition: transform 0.4s ease; 
}
.productcard:hover .cardimage img{
    transform: scale(1.08);
}

.carddetails{
    width: 100%;
    height: 222px;
    border:1px solid rgba(0, 0, 0, 0.137);
    border-radius: 0px 0px 25px 25px;
 
}