.landingbanner {
    height: 46vh;
    background: linear-gradient(
      to bottom right,
      #3145c5,
      #6150f7,
      #8259f1,
      #5827a1
    );
  
  
      padding-left: 30px;
      color:white;
      padding-top:50px;
  }
  .strike{
      font-size: 14px;
      font-weight: 900;
      background-color: rgba(187, 185, 185, 0.514);
      width: fit-content;
      padding:2px 10px;
      border-radius: 15px;
  }
  h1{
      width: 55%;
      font-size: 56px;
      margin-top:10px;
      font-weight: 900;
  }
  p{
      width: 42%;
      font-size: 22px;
      font-weight: 400;
  }
  .buttons{
      width: 15%;
      height: 4vh;
      display: flex;
      justify-content: space-between;
      margin-top:40px;
  }
  .button{
      height: 100%;
      padding:5px 25px;
      border-radius:10px;
      border:none;
      font-weight: 500;
  }
  .learn{
      background:none;
      border:1px solid black;
      color:white;
      padding: 5px 20px;
  }
  .learn:hover{
      background-color: rgba(255, 255, 255, 0.288);
  }
  
  
  @media(max-width:1000px){
      .landingbanner{
          height: 50vh;
      }
      h1{
          width: 80%;
          font-size: 46px;
      }
      p{
          width: 80%;
      }
      .buttons{
          width: 35%;
      }
  }
  
  @media (max-width:800px) {
  
      .landingbanner{
          padding-left: 30px;
      }
      h1{
          font-size: 40px;
          font-weight: 800;
      }
      p{
          font-size: 18px;
      }
      .buttons{
          width: 40%;
      }
  
  }
  @media(max-width:650px){
   .landingbanner{
      height: 48vh;
      padding-left: 30px;
      padding-top: 70px;
   }
   h1{
      width: 90%;
      font-size: 36px;
      font-weight: 700;
   }
   p{
      width: 90%;
      font-size: 16px;
   }
   .buttons{
      width: 70%;
   }
  }

  @media(max-width:450px){
    .landingbanner{
        height: 50vh;
        padding-top: 50px;
    }
    .buttons{
        width:80%;
    }
  }