.categories{
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 0.5px solid rgb(219, 218, 224);
    gap:20px;
    padding-left: 20px;
}
.catbutton{
    width:100px;
    padding:5px 0px;
    border:1px solid rgba(0, 0, 0, 0.178);
    border-radius: 10px;
    background-color: white;
    font-weight: 600;
    color:rgba(0, 0, 0, 0.685);


}
.catbutton:hover{
    box-shadow: 0px 0px 3px;
    color:rgb(0, 0, 0);
    border-color: black;
    cursor:pointer;
}


/* WebKit */
.categories::-webkit-scrollbar {
    height: 6px;
  }
  
  .categories::-webkit-scrollbar-thumb {
    background: violet;
    border-radius: 8px;
  }
  
  /* Firefox */
  .categories{
    scrollbar-width:thin;
    scrollbar-color: rgb(123, 81, 240) transparent;
  }

@media(max-width:450px){
    .catbutton{
       padding:5px 10px;
    }

    .categories{
        overflow-x: auto;
    }
}