.space {
  height: 7vh;
  color: white;
}
.landingbanner {
  height: 50vh;
  background: linear-gradient(
    to bottom right,
    #3145c5,
    #6150f7,
    #8259f1,
    #5827a1
  );


    padding-left: 100px;
    color:white;
    padding-top:80px;
}
.strike{
    font-size: 14px;
    font-weight: 900;
    background-color: rgba(187, 185, 185, 0.514);
    width: fit-content;
    padding:2px 10px;
    border-radius: 15px;
}
h1{
    width: 55%;
    font-size: 56px;
    margin-top:10px;
    font-weight: 900;
}
p{
    width: 42%;
    font-size: 22px;
    font-weight: 400;
}
.buttons{
    width: 15%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    margin-top:40px;
}
button{
    height: 100%;
    padding:5px 25px;
    border-radius:10px;
    border:none;
    font-weight: 500;
}
.learn{
    background:none;
    border:1px solid black;
    color:white;
    padding: 5px 20px;
}
.learn:hover{
    background-color: rgba(255, 255, 255, 0.288);
}
.demo{
    height: 100vh;
    background-color: red;
}

@media (max-width:800px) {
    .space{
        height: 14vh;
    }
}