.space {
  height: 7vh;
  color: white;
}

@media (max-width: 800px) {
  .space {
    height: 16.5vh;
  }
}
@media(max-width:450px){
  .space{
    height: 12vh;
  }
}
@media(max-width:400px){
  .space{
    height: 14vh;
  }
}
