.nav{
    width: 100%;
    background-color: rgba(241, 241, 241, 0.726);
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 200px;
    margin-left: 60px;
}
.search{
    width:550px;
    background-color: rgb(226, 226, 226);
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.search:focus-within{
    box-shadow: 0px 0px 5px;
    border:1px solid black;
}
.searchicon{
    width: 5%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 18px;
    margin-left: 5px;
    color: rgb(94, 95, 95);
    cursor: pointer;
    border:none;
    background-color: rgba(240, 248, 255, 0);
}
.search input{
    width: 95%;
    height: 100%;
    outline: none;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    font-size: 14PX;
}

.navicons{
    font-size: 26px;
    margin-right: 10px;
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    
}
.navicons button{
    cursor:pointer;
    width:40px;
    height: 40px;
    font-size: 26px;
    border:none;
    background-color: rgba(255, 255, 255, 0);
}
.button{
    width:80px;
    font-size: 14px;
    font-weight: bolder;
    padding:8px;
    border-radius: 5px;
    color:white;
    background-color: black;
}


@media (max-width: 1000px) {

}

@media (max-width: 800px) {
    .nav{
        height:10vh;
    }
}

@media (max-width: 575px) {

}

@media (max-width: 450px) {

}